@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');
html {
    scroll-behavior: smooth;
    font-size: 62.5%; // 1rem = 10px
}

* {
    margin: 0;
    padding: 0 ;
    // transition: 0.5s;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Nunito', sans-serif !important;
}

body {
    font-size: 1.4rem;
    background: #f1f2f3 !important;
    width: 100%;
    height: 100%;
   
}

*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
    margin: 0 !important;
}

img {
    // display: block;
    // max-width: 100%;
    width: 100%;
    height: 100%;

}

.text-center{
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 8px
}
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:767px) {
        flex-wrap: wrap;
    }
}

$background:#060818;
$color:#888ea8;
$color-hover:#bfc9d4;
$color-input:#d3d3d3;
$border:#e0e6ed;
$border-focus:#1b55e2;
$color-login:#3b3f5c;
$color-error:#e74c3c;
$color-success:#2ecc71;


@media only screen and (max-width: 1199px) and (min-width: 993px) {
    
}
@media (min-width:768px) and (max-width:992px){
    .nav-bar{
        width: 0;
        position: fixed;
        &.activeNavBar{
            z-index: 10;
            width: 255px !important;
        }
    }
    .content{
        &.activeContent{
            margin-left: 0 !important;
        }
        .content__employee{
            .content__employee-table{
                display: block;
                width: 100%;
                overflow-x: auto;  
            }
        }
        .thead-isShow{
            display: none;
            text-align: center;
        }
        .content__employee-tbody{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .content__employee-thead{
                max-width: 49%;
                flex: 0 0 49%;
                text-align: center;
                flex-direction: column;
                .content__employee-theadItem{
                    width: 100%;
                    padding-bottom: 1rem;
                    h2{
                        img{
                            width: 9rem;
                            height: 9rem;
                        }
                        span{
                            font-size: 2rem;
                            margin-top: 1rem;
                            display: block;
                        }
                    }
                }
            }
        }
        .content__employee-add{
            justify-content: flex-start;
            margin: 1rem 0;
        }
    }
}
@media (max-width:767px){
    .nav-bar{
        width: 0;
        position: fixed;
        &.activeNavBar{
            z-index: 10;
            width: 255px !important;
        }
    }
    .content{
        &.activeContent{
            margin-left: 0 !important;
        }
        .content__employee{
            .content__employee-table{
                display: block;
                width: 100%;
                overflow-x: auto;  
            }
        }
        .thead-isShow{
            display: none;
            text-align: center;
        }
        .content__employee-tbody{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .content__employee-thead{
                max-width: 49%;
                flex: 0 0 49%;
                text-align: center;
                flex-direction: column;
                .content__employee-theadItem{
                    width: 100%;
                    padding-bottom: 1rem;
                    h2{
                        img{
                            width: 9rem;
                            height: 9rem;
                        }
                        span{
                            font-size: 2rem;
                            margin-top: 1rem;
                            display: block;
                        }
                    }
                }
            }
        }
        .content__employee-add{
            justify-content: flex-start;
            margin: 1rem 0;
        }

        .content__profile{
            .content__profile-item{
                .content__profile-itemLeft{
                    margin-bottom: 2rem;
                    padding-bottom: 1.5rem;
                    border-right:none !important;
                    border-bottom: 1px dashed $color;
                }
            }
        }
    }
}
@media screen and (max-width: 479px){

}