@import "./common.scss";
*{
    margin: 0;
    padding: 0;
}
@mixin  shadow {
    box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
}
@mixin label {
    margin: 0;
    color: #3b3f5c;
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
}
@mixin  btn {
    font-size: 1.6rem;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
}
@mixin input {
    width: 100%;
    border: 1px solid #bfc9d4;
    color: #3b3f5c;
    font-size: 1.5rem;
    padding: 8px 10px;
    letter-spacing: 1px;
    border-radius: 6px;
}
.content{
    transition: .5s;
    background: #f1f2f3;
    height: 100%;
    margin-left: 0;
    &.activeContent{
        margin-left: 255px;
    }
    &__header{
        position: sticky;
        top: 0;
        z-index: 3;
        background: #fff;
        height: 7rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d8dbe0;
        box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003),
         0 0.4px 0px rgba(0, 0, 0, 0.004),
          0 0.6px 0px rgba(0, 0, 0, 0.004),
           0 0.9px 0px rgba(0, 0, 0, 0.005),
            0 1.2px 0px rgba(0, 0, 0, 0.006),
             0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
        &-container{
            width: 100%;
           @include flex();
           padding: 0 1.5rem;
            .icon{
                cursor: pointer;
            }
        }
        &-img{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            object-fit: cover;
        }
        &-user{
            position: relative;
            display: flex;
            align-items: center;
            h3{
                margin: 0 5px;
            }
            img{
                object-fit: cover;
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                cursor: pointer;
            }
        }
        &-subUser{
            position: absolute;
            top: 5.5rem;
            right: 0;
            ul{
                width: 150px;
                background-color: #3b3f5c;
                @include shadow();
                border-radius: 5px;
                position: relative;
                padding: 0.5rem;
                // overflow: hidden;
                &::before{
                    position: absolute;
                    content: '';
                    top: -10px;
                    margin-left: -7px;
                    height: 0;
                    width: 0;
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                    border-bottom: 10px solid #fff;
                    left: auto;
                    right: 8px;
                    border-bottom-color: #3b3f5c;
                }
                li{
                    border-radius: 5px;
                    padding: 0.5rem 1.5rem;
                    font-size: 1.6rem;
                    color: #fff;
                    transition: 0.5s;
                    cursor: pointer;
                    &:hover{
                        color: #3b3f5c;
                        background-color: #fff;
                    }
                    &:hover a{
                        color: #3b3f5c;
                     
                    }
                    p{
                        margin: 0;
                    }
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
    &__body{
        height: 100%;
    }
    &__employee{
        &-container{
            padding: 0 1.5rem;
        }

        &-box{
            @include flex();
            margin: 0;
        }
        &-title{
            position: sticky;
            background-color: #060818;
            border-bottom: 1px solid #d8dbe0;
            padding: 8px 1.5rem;
            h3{
                color: #bfc9d4;
                font-weight: 600;
                margin: 0;
                font-size: 1.7rem;
            }
        }
        &-head{
            padding: 1.5rem 0 ;
        }
        &-search{
            position: relative;
            padding: 0 !important;
            input{
                outline: none;
                font-size: 1.5rem;
                letter-spacing: 1px;
                border-radius: 6px;
                padding: 12px 27px 12px 15px;
                // color: $color-input;
                color: #3b3f5c;
                border: 1px solid transparent;
                @include shadow();
                width: 100%!important;
                background-color: #fff;
                &:focus{
                    border-color: $border-focus;
                }
            }
            .search-icon{
                top: 50%;
                transform: translate(0%,-50%);
                position: absolute;
                right: 1.5rem;
                color:$color-input; 
                cursor: pointer;
            }
        }
        &-add{
            padding: 0 !important;
            display: flex;
            justify-content: flex-end;
            button{
                @include shadow();
                background-color: #fff;
                @include btn();
                display: flex;
                align-items: center;
                &:hover{
                    color:  $border-focus;
                }
                span{
                    font-size: 1.6rem;
                }
            }
        }
        &-table{
            padding: 1.5rem 0;
        }
        &-thead{
            margin-bottom: 8px;
            border-radius: 6px;
            padding: 13px 18px;
            background-color: #fff;
            @include flex();
            @include shadow();
            &.active-thead{
                padding:20px 18px;
                transition: 0.5s;
            }
            &:hover{
              
            }
        }
        &-theadItem{
            h3{
                margin: 0;
                color: #3b3f5c;
                font-size: 1.6rem;
                font-weight: 600;
            }
            &.col-item-1{
                width: 5%;
                text-align: center;
            }
            &.col-item-2{
                width: 20%;

            }
            &.col-item-3{
                width: 10%;
                text-align: center;
            }
            &.col-item-4{
                width: 20%;
                text-align: center;
            }
            &.col-item-5{
                width: 15%;
                text-align: center;
            }
            &.col-item-6{
                width: 10%;
            }
            &.col-item-7{
                width: 10%;
                text-align: center;
            }
            &.col-item-8{
                width: 10%;
                text-align: center;
            }
            &.active-theadItem{
                h2{
                    margin: 0;
                   
                    color: #3b3f5c;
                    font-size: 1.6rem;
                    font-weight: 600;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 5px;
                       
                    }
                }
                h3{
                    font-size: 1.3rem;
                    color: #3b3f5c;
                    font-weight: 600;
                }
                span{
                    color: #888ea8;
                    cursor: pointer;
                    padding: 0 5px;
                }

            }
        }
        
        // Modal
        &-modal{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1050;
            width: 100%;
            height: 100%;
            display: block;
            outline: 0;
            overflow-x: hidden;
            overflow-y: auto;
            &.activeModal{
                opacity: 1;
                visibility: visible;
            }
            .overlay{
                background-color:rgba(0, 0, 0, 0.5);
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
           

            }
        }
        &-formTitle{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 0 1rem 0;
            margin-bottom:1rem;
            border-bottom: 1px solid $border;
          
            h2{
                margin: 0;
                font-weight: 600;
                color: $color-success;
                font-size: 2.5rem;
                &.activeEdit{
                    color:$color-error;
                }
            }
            svg{
                cursor: pointer;
            }
        }
        &-form{
            position: relative;
            width: auto;
            margin: 2rem auto;
            pointer-events: none;
            @include shadow();
            &.activeForm{
                transform: scale(1);
            }
        }
        &-formInput{
            border-radius: 10px;
            padding: 1rem 2rem ;
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.2);
            outline: 0;
        }
        &-formControl{
            padding-bottom: 0.5rem;
            &.formControl{
                width: 48%;
            }
            label{
                @include label();
            }
            p{
                margin: 0;
                padding: 0.5rem 0;
                color: $color-error;
            }
            input{
                width: 100%;
                border: 1px solid #bfc9d4;
                color: #3b3f5c;
                font-size: 1.5rem;
                padding: 8px 10px;
                letter-spacing: 1px;
                border-radius: 6px;
                &#file{
                    display: none;
                }
            }
            select{
                width: 100%;
                border: 1px solid #bfc9d4;
                color: #3b3f5c;
                font-size: 1.5rem;
                padding: 8px 10px;
                letter-spacing: 1px;
                border-radius: 6px;
            }
            .formControlFile{
                display: flex !important;
                label{
                    cursor: pointer;
                }
            }
            &.formControl-btn{
                display: flex;
                justify-content: flex-end;
                margin-top: 1rem;
                button{
                  @include btn();
                  color: #fff;
                  margin: 0 5px;
                    &:nth-child(1){
                        background-color: $color-error;
                    }
                    &:nth-child(2){
                        background-color: $color-success;
                    }
                }
            }
            p{
                cursor: pointer;
            }
            
        }
        &-group{
            display: flex;
            justify-content: space-between;
           
          
        }

    }

    &__timekeeping{
        // background-color: #fff;
        
        position: relative;
        &-container{
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-btn{
            margin-top: 5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            button{
                border: 1px solid #fff;
                font-size: 2rem;
                margin: 0 2rem;
                color: #fff;
                padding: 2rem 3rem;
                border-radius: 5px;
                @include shadow();
                &:nth-child(1){
                    background: #2ecc71;
                }
                &:nth-child(2){
                    background: #e74c3c;
                }
            }
        }
    }

    &__request{
        &-container{
            padding: 1.5rem;
            display: flex;
            justify-content: space-between;
        }
        &-content{
            background-color: #fff;
            border-radius: 10px;
        }
        &-title{
            select{
                width: 100%;
                border: 1px solid #bfc9d4;
                color: #3b3f5c;
                font-size: 1.5rem;
                padding: 8px 10px;
                letter-spacing: 1px;
                border-radius: 6px;
            }
        }
        &-itemContent{
            display: flex;
            justify-content: center;
        }
        &-group{
            display: flex;
            justify-content: space-between;
            .content__request-itemForm {
                padding: 0;
            }
        }
        &-itemForm{
            padding: 1rem 0;
            label{
                display: block;
                @include label();
            }
            input{
                @include input();
            }
            textarea{
                @include input();
                resize: none;
            }
            p{
                padding-top: 1rem;
                margin: 0;
                color: #e74c3c;
            }

        }
        button{
            // float: right;
            @include btn();
            display: inline-block;
            text-align: right;
            color: #fff;
            background-color: #2ecc71;
        }
        &-item{
            padding: 1.5rem 0;
         
        }
 
        &-reasonTitle{
            text-align: center;
            font-size:3rem;
            margin: 0;
        }
    }
    &__profile{
        .inputFile{
            display: none;
        }
        &-container{
            padding: 1.5rem;
        }
        &-item{
            position: relative;
            border-radius: 10px;
            @include shadow();
            border: 1px solid #ededed;
            padding: 2rem 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: #fff;
        }
        &-btnEdit{
            position: absolute;
            right: 2rem,;
            top: 2rem;
            padding: 0.5rem;
            border-radius: 50%;
            border: 1px solid $color;
            background-color: transparent;
         
        }
        &-img{
            border-radius: 1rem;  
            width: 250px;
            height: 300px;
            position: relative;
            overflow: hidden;
         
            &:hover .iconfile{
                opacity: 1;
                cursor: pointer;
            }
            &:hover .iconfile svg{
                opacity: 1;
                transform: scale(1);
            }
            .iconfile{
                opacity: 0;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                width: 100%;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                svg{
                    transition: 0.4s;
                    opacity: 0;
                    transform: scale(0);
                }
            }
        }
        &-itemLeft{
            border-right: 1px dashed $color;
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            &-box{
                margin-bottom: 1rem;
                display: flex;
                justify-content: center;
            }
            &.active{
                align-items: center;
            }
            label{
                text-align: center;
            }
        }
        // &-itemCenter{
            
        // }
        &-personalInfo{
            padding-bottom: 1.5rem;
            h3,h4{
                margin: 0;
            }
            display: flex;
            align-items: center;
            h3{
                color: $color-login;
                font-weight: 700;
                font-size: 1.6rem;
            }
            h4{
                font-weight: 600;
                color: $color;
                font-size: 1.4rem;;
            }
           
        }
        &-personalInfoText{
            h4{
                padding-bottom: 1rem;
            }
            p{
                margin: 0;
                color: $color-error;
            }
            input{
                padding:3px 10px;
                width: 100%;
                border: none;
                outline: none;
                font-size: 1.6rem;
                border-bottom: 1px solid #3b3f5c;
            }
        }

    }
    &__pagination{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        button{
            width: 30px;
            height: 30px;
            margin: 0 5px;
            border: none;
            color: #3b3f5c;
            background-color: #fff;
            @include shadow();
            border-radius: 50%;
            font-size: 1.6rem;
            &.activeDot{
                background-color: #3b3f5c;
                color: #fff;
            }
        }
    }

}


